body {
  margin: 0;
  background: #eef3ff;
  font-family: Arial, sans-serif;
}

/* ---------- Fixed Header ---------- */
.header {
  left: 0;
  height: 70px;
  background: #0041aa;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-weight: bold;
  z-index: 999;
  box-shadow: 0 4px 15px rgba(40, 2, 2, 0.3); 
  position: fixed;
  top: 0;
  width: 100%;
  background: #0d6efd; /* Blue */
    color: #b5a2a2;
    padding: 15px 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

/* ---------- Responsive Grid Container ---------- */
.container {
  margin-top: 90px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  grid-template-columns: repeat( minmax(150px, 1fr));
  grid-gap: 20px;
}

/* ---------- Button Boxes ---------- */
.box {
  background: #1a73e8;
  border-radius: 14px;
  height: 300px;
  margin: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.box_big{
    width: 600px;
    background-color: red;
}

/* Hover Effect (Glowing Animation) */
.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(0, 123, 255, 0.9);
}

/* Images inside boxes */
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Small box */
.box-small {
  height: 80px;
}

/* Long bottom box */
.box-long {
  height: 120px;
  grid-column: span 2;
}
button{
    all: unset; /* Removes all inherited and default styles */
    display: inline-block; /* Restore display so it behaves like a button */
    

}
/* Responsive fix for smaller screens */
@media (max-width: 600px) {
  .box-long {
    grid-column: span 1;
  }
}
