body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff0db;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.header_logo {
  opacity: 1;
  width: 170px;
  padding-top: 25px;
  padding-left: 20px;
}

button.contact_us {
  background-color: #00000000;
  color: #000000;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.main {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 100px;
  justify-content: space-between;
  align-content: end;
  justify-items: end;
}

.left_cont {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

.banner {
  margin-top: 0px;
  width: 80%;
  height: 400px;
  background-image: url(./Images/Zomaland\ logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  display: flex;
  align-items: end;
  font-size: 24px;
  color: #ffffff;
  border-radius: 15px;
}
h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
h2.title {
  margin: 0;
  font-family: monospace, sans-serif;
  padding: 0%;
  opacity: 1;
}
p {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.description {
  margin-top: 10px;
  width: 80%;
  font-size: large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  opacity: 0.89;
}
.banner2 {
  width: 100%;
  height: 400px;
  background-image: url(./Images/Zomaland.jpg);
  background-position: end;
  background-size: 110%;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  font-size: 24px;
  color: #ffffff;
  border-radius: 15px;
}
.event_guide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.event_guide_icon {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 9px;
  padding: 0;
}
.box {
  height: 450px;
  width: 270px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.artist_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p.artist {
  font-size: 30px;
  font-weight: bold;
  text-shadow: #000000 1px 1px 5px;
  text-decoration: overline;
  color: #f7cd9e;
  text-indent: 5px;
  font-family: monospace;
}
.nucleya {
  background-image: url(./Images/nucleya.jpg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lost_stories {
  background-image: url(./Images/lost\ stoies.jpeg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.jonita_gandhi {
  background-image: url(./Images/jonita.jpg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.badshah {
  background-image: url(./Images/badshah.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(105, 105, 105, 0.9);
}

a {
  text-decoration: none;
}
.right_cont {
  display: flex;
  flex-direction: column;
}
.details {
  margin-top: 0px;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.favicon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.checkout {
  background-color: thistle;
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 0%;
}
