body {
  margin: 0;
  /*background:linear-gradient(30deg,black, white);*/
  font-family: Arial, sans-serif;
}

/* ---------- Fixed Header ---------- */
.header {
  left: 0;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 999;
  box-shadow: 0 4px 15px rgba(40, 2, 2, 0.3); 
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff; /* Blue */
    color: #000000;
    padding: 15px 20px;
    text-align: center;
    font-size: 26px;
    z-index: 999;
    /*box-shadow: 0 4px 10px rgba(0,0,0,0.25);*/
}

/* ---------- Responsive Grid Container ---------- */
.container {
  margin-top: 90px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  grid-template-columns: repeat( minmax(150px, 1fr));
  grid-gap: 20px;
}
img{
    opacity: .75;
}
/* ---------- Button Boxes ---------- */
.box {
  background: #000000;
  border-radius: 14px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.box_big{
    background-color: rgb(0, 0, 0);
}

/* Hover Effect (Glowing Animation) */
.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(255, 25, 0, 0.9);
}

/* Images inside boxes */
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

button{
    all: unset; /* Removes all inherited and default styles */
    display: inline-block; /* Restore display so it behaves like a button */
    

}
.carnival{
    height: 350px;
    width:900px;
}
.hackathon{
    width: 700px;
    height: 350px;
}
.classic{
    height: 300px;
    width: 500px;
}
.zomaland{
    height: 300px;
    width: 582px;

}

.sunburn{
    height: 300px;
    width: 500px;
}
/* Responsive fix for smaller screens */
@media (max-width: 600px) {
  .box-long {
    grid-column: span 1;
  }
}
.header_logo{
    opacity: 1;
    width: 170px;
    padding-top:25px ;
}