body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e9dbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.header_logo {
  opacity: 1;
  width: 170px;
  padding-top: 25px;
  padding-left: 20px;
}

button.contact_us {
  background-color: #00000000;
  color: #000000;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.main {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 100px;
  padding-bottom: 0%;
  padding-right: 0;
  justify-content: space-between;
  align-content: end;
  justify-items: end;
}

.left_cont {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

.banner {
  margin-top: 0px;
  width: 80%;
  height: 400px;
  background-image: url(./Images/Zomaland\ logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115%;
  display: flex;
  align-items: end;
  font-size: 24px;
  color: #ffffff;
  border-radius: 15px;
}
h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
h2.title {
  margin: 0;
  font-family: monospace, sans-serif;
  padding: 0%;
  opacity: 1;
}
p {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.description {
  margin-top: 10px;
  width: 80%;
  font-size: large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  opacity: 0.89;
}
.banner2 {
  width: 100%;
  height: 400px;
  background-image: url(./Images/Zomaland.jpg);
  background-position: end;
  background-size: 115%;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  font-size: 24px;
  color: #ffffff;
  border-radius: 15px;
}
.event_guide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.event_guide_icon {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 9px;
  padding: 0;
}
.box {
  height: 450px;
  width: 270px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.h2notable_artist {
  margin-left: 80px;
  margin-bottom: 20px;
  font-family: monospace, sans-serif;
}
.artist_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p.artist {
  font-size: 30px;
  font-weight: bold;
  text-shadow: #000000 1px 1px 5px;
  text-decoration: overline;
  color: #f7cd9e;
  text-indent: 5px;
  font-family: monospace;
}
.nucleya {
  background-image: url(./Images/nucleya.jpg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lost_stories {
  background-image: url(./Images/lost\ stoies.jpeg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.jonita_gandhi {
  background-image: url(./Images/jonita.jpg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.badshah {
  background-image: url(./Images/badshah.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(105, 105, 105, 0.9);
}

a {
  text-decoration: none;
}
.right_cont {
  display: flex;
  flex-direction: column;
}
.details {
  margin-top: 0px;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.favicon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.checkout {
  background-color: rgba(255, 255, 255, 0.37);
  margin: 0px;
  padding: 30px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 0%;
  height: auto;
}
.h2_checkout {
  margin: 0;
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 3%;
  padding: 0;
}
.full_name,
.mobile,
.email,
.idcard,
.DOB {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.full_name input {
  width: 90%;
  padding: 0;
  margin: 0;
  height: 30px;
}
input {
  width: 50%;
  padding-bottom: 10px;
  margin: 5px;
  background-color: rgba(133, 133, 133, 0.253);
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0);
}
h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
.radio-group input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-group label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #e6c1b091;
  padding: 10px 20px;
  border: 1px solid #cccccc00;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.radio-group input[type="radio"]:checked + label {
  background-color: #9581af; /* Style when checked */
  border-color: #02020200;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  transition: ease-in-out 0.2s;
}
.radio-group label:hover {
  background-color: #dac6f1;
  transform: translateY(-2px);
  transition-delay: 0.1s;
  box-shadow: 0 0 25px rgba(173, 173, 173, 0.9);
}
.vip {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.vip_lis {
  width: 60%;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(133, 133, 133, 0.253);
  border-color: rgba(255, 255, 255, 0);
}
.vip_lis option {
  background-color: #fdf4ed;
}

.place_order {
  width: 100%;
  background-color: #9a7fbb;
  color: #ffffff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 0;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  transition: ease-in-out 0.2s;
}
.place_order:hover {
  background-color: #8652c5;
  transform: translateY(-1px);
  transition-delay: 0.1s;
  box-shadow: 0 0 25px rgba(105, 105, 105, 0.9);
}
.newsletter {
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: end;
  font-size: small;
  flex-direction: row;
  align-items: center;
}
