body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f7f7f7;
}
.box {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#upi-section,
#card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  display: none;
  margin-top: 20px;
}
img.qr {
  width: 200px;
  display: block;
  margin: 20px auto;
}

input {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  width: 100%;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}
button:hover {
  background-color: #218838;
}
.paymentMethod {
  width: 60%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #cccccc00;
  border-radius: 4px;
}
