body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f7f7f7;
}
.box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#upi-section,
#card-section {
  display: none;
  margin-top: 20px;
}
img.qr {
  width: 200px;
  display: block;
  margin: 20px auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}
